:root{
  --primary-color: #476772;
  --secondary-color:#253f47;
  --background-color: #f5f5f5;
  --accent-color: #ff6f61;
}

i, .icon{
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.3s ease;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  width: 40px !important;
}

i:hover , .icon:hover {
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.8s ease;
}





